# 分析美國主要通訊相關公司股價

In [2]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df_tmp=pd.read_html("https://tw.stock.yahoo.com/us/s/kimo_listUS7.html?rr=15729529265200.9573216999662257",encoding="big5")

In [5]:
len(df_tmp)

3

In [8]:
df=df_tmp[1]

In [9]:
df.head()

,股票代號英文名稱,時間,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
0,ALLTEL(Alltel Corp),05:02am,2.32,—,—,▽0.03,257593,2.35,2.35,2.36,2.31
1,中國通訊(China Mobile (Hong Kong) Ltd),05:02am,40.78,40.91,41.10,▽0.32,527920,41.10,41.21,41.21,40.78
2,Sprint Nextel(Sprint Nextel Group),05:01am,6.15,6.01,—,▽0.15,13319679,6.30,6.28,6.32,6.10
3,摩托羅拉(Motorola Inc),05:04am,160.59,158.17,—,▽6.97,1425358,167.56,168.26,168.45,160.29
4,諾基亞(Nokia Corp),05:01am,3.61,3.58,3.59,▽0.05,24429952,3.66,3.62,3.65,3.60

## 刪除掉不必要欄位

In [12]:
df=df.drop("時間",axis=1)

In [13]:
df.head()

,股票代號英文名稱,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
0,ALLTEL(Alltel Corp),2.32,—,—,▽0.03,257593,2.35,2.35,2.36,2.31
1,中國通訊(China Mobile (Hong Kong) Ltd),40.78,40.91,41.10,▽0.32,527920,41.10,41.21,41.21,40.78
2,Sprint Nextel(Sprint Nextel Group),6.15,6.01,—,▽0.15,13319679,6.30,6.28,6.32,6.10
3,摩托羅拉(Motorola Inc),160.59,158.17,—,▽6.97,1425358,167.56,168.26,168.45,160.29
4,諾基亞(Nokia Corp),3.61,3.58,3.59,▽0.05,24429952,3.66,3.62,3.65,3.60

In [14]:
df.describe()

,成交,成交量,昨收,開盤,最高,最低
count,8.000000,8.000000e+00,8.000000,8.000000,8.000000,8.000000
mean,41.593750,1.098978e+07,42.595000,42.640000,42.852500,41.502500
std,52.354306,1.306455e+07,54.628825,54.821916,54.908947,52.248748
min,2.320000,2.575930e+05,2.350000,2.350000,2.360000,2.310000
25%,5.515000,1.200998e+06,5.640000,5.615000,5.652500,5.475000
50%,29.715000,6.089416e+06,29.710000,29.860000,30.110000,29.695000
75%,45.552500,1.609725e+07,45.917500,45.827500,46.060000,45.472500
max,160.590000,3.577894e+07,167.560000,168.260000,168.450000,160.290000

## 找出最高股價大於100者

In [16]:
df[df.最高>100].sort_values(by="最高",ascending=False)

,股票代號英文名稱,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
3,摩托羅拉(Motorola Inc),160.59,158.17,—,▽6.97,1425358,167.56,168.26,168.45,160.29

## 找出最低股價小於10者

In [18]:
df[df.最低<10].sort_values(by="最低",ascending=False)

,股票代號英文名稱,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
2,Sprint Nextel(Sprint Nextel Group),6.15,6.01,—,▽0.15,13319679,6.30,6.28,6.32,6.10
4,諾基亞(Nokia Corp),3.61,3.58,3.59,▽0.05,24429952,3.66,3.62,3.65,3.60
0,ALLTEL(Alltel Corp),2.32,—,—,▽0.03,257593,2.35,2.35,2.36,2.31

## 由開盤、當日最高排名

In [23]:
df_sorted=df.sort_values(by=["開盤","最高"],ascending=False)

In [34]:
df_sorted

,股票代號英文名稱,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
1,摩托羅拉(Motorola Inc),160.59,158.17,—,▽6.97,1425358,167.56,168.26,168.45,160.29
2,Verizon(Verizon Communications),59.87,59.86,59.99,▽0.5,9967047,60.37,59.68,60.61,59.55
3,中國通訊(China Mobile (Hong Kong) Ltd),40.78,40.91,41.10,▽0.32,527920,41.10,41.21,41.21,40.78
4,AT&T(AT&T Corp),38.89,—,39.00,▽0.06,35778939,38.95,39.10,39.50,38.86
5,VODAFONE(Vodafone Group PLC),20.54,20.64,20.67,△0.07,2211785,20.47,20.62,20.72,20.53
6,Sprint Nextel(Sprint Nextel Group),6.15,6.01,—,▽0.15,13319679,6.30,6.28,6.32,6.10
7,諾基亞(Nokia Corp),3.61,3.58,3.59,▽0.05,24429952,3.66,3.62,3.65,3.60
8,ALLTEL(Alltel Corp),2.32,—,—,▽0.03,257593,2.35,2.35,2.36,2.31

In [35]:
df_sorted.index=range(1,9)

In [33]:
df_sorted

,股票代號英文名稱,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
1,摩托羅拉(Motorola Inc),160.59,158.17,—,▽6.97,1425358,167.56,168.26,168.45,160.29
2,Verizon(Verizon Communications),59.87,59.86,59.99,▽0.5,9967047,60.37,59.68,60.61,59.55
3,中國通訊(China Mobile (Hong Kong) Ltd),40.78,40.91,41.10,▽0.32,527920,41.10,41.21,41.21,40.78
4,AT&T(AT&T Corp),38.89,—,39.00,▽0.06,35778939,38.95,39.10,39.50,38.86
5,VODAFONE(Vodafone Group PLC),20.54,20.64,20.67,△0.07,2211785,20.47,20.62,20.72,20.53
6,Sprint Nextel(Sprint Nextel Group),6.15,6.01,—,▽0.15,13319679,6.30,6.28,6.32,6.10
7,諾基亞(Nokia Corp),3.61,3.58,3.59,▽0.05,24429952,3.66,3.62,3.65,3.60
8,ALLTEL(Alltel Corp),2.32,—,—,▽0.03,257593,2.35,2.35,2.36,2.31

## 雙標準篩選資料

In [36]:
df_sorted[(df_sorted.成交>50)|(df_sorted.昨收>50)]

,股票代號英文名稱,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
1,摩托羅拉(Motorola Inc),160.59,158.17,—,▽6.97,1425358,167.56,168.26,168.45,160.29
2,Verizon(Verizon Communications),59.87,59.86,59.99,▽0.5,9967047,60.37,59.68,60.61,59.55