In [3]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
df=pd.read_csv("https://quality.data.gov.tw/dq_download_csv.php?nid=6648&md5_url=ff1a4e39b0c867a67e7268ae2284a1a0")

In [15]:
df.head()

     年度                   職類別         行業別 受僱員工人數     總薪資  經常性薪資 非經常性薪資
0  2018               主管及監督人員  礦業及土石採取業各業    253   82059  73160   8899
1  2018        高階主管(總經理及總執行長)  礦業及土石採取業各業     16  106080  95824  10256
2  2018              中階主管(經理)  礦業及土石採取業各業     89   91546  81215  10331
3  2018  監督人員(含現場及辦公室主任、科/股長)  礦業及土石採取業各業    148   73757  65865   7892
4  2018                  專業人員  礦業及土石採取業各業    341   74182  61634  12548

In [13]:
df_new=df[["職類別","受僱員工人數","總薪資","經常性薪資","非經常性薪資"]]

In [16]:
df_new.head()

                    職類別 受僱員工人數     總薪資  經常性薪資 非經常性薪資
0               主管及監督人員    253   82059  73160   8899
1        高階主管(總經理及總執行長)     16  106080  95824  10256
2              中階主管(經理)     89   91546  81215  10331
3  監督人員(含現場及辦公室主任、科/股長)    148   73757  65865   7892
4                  專業人員    341   74182  61634  12548

## 篩選"受僱員工人數">100

In [28]:
df_sorted=df_new.sort_values(by="經常性薪資")

In [30]:
df_sorted.head()

                      職類別 受僱員工人數      總薪資    經常性薪資  非經常性薪資
76   監督人員(含現場及辦公室主任、科/股長)     58  120,840  101,997  18,843
73                主管及監督人員    101  127,569  107,299  20,270
75               中階主管(經理)     38  134,603  113,806  20,797
216     清潔及家事工作人員(含建築清潔工)     43   22,106   22,106       —
70      清潔及家事工作人員(含建築清潔工)     43    22106    22106       —

## 以"經常性薪資"、"總薪資"排名

In [35]:
df_sorted2=df_new.sort_values(by=["經常性薪資","總薪資"])

In [36]:
df_sorted2

                          職類別 受僱員工人數      總薪資    經常性薪資  非經常性薪資
76       監督人員(含現場及辦公室主任、科/股長)     58  120,840  101,997  18,843
73                    主管及監督人員    101  127,569  107,299  20,270
75                   中階主管(經理)     38  134,603  113,806  20,797
216         清潔及家事工作人員(含建築清潔工)     43   22,106   22,106       —
70          清潔及家事工作人員(含建築清潔工)     43    22106    22106       —
215                 基層技術工及勞力工    263   26,066   24,037   2,029
183            一般辦公室事務人員(含文書)    109   24,431   24,169     262
217                       勞力工    216   26,888   24,418   2,470
184                    資料輸入人員     18   25,255   24,461     794
189      運輸事務人員(含稽查、調度、管理、航務)     11   24,915   24,915       —
69                  基層技術工及勞力工    263    26066    24037    2029
71                        勞力工    216    26888    24418    2470
38                     資料輸入人員     18    25255    24461     794
199         焊接及切割人員(含電焊工、氣焊工)     38   26,739   25,240   1,499
186                會計助理、簿記、出納    116   25,532   25,491      41
181                    事務支援人員    304   25,973   25,801     172
190                    人事事務人員      6   26,344   26,344       —
194            建築物管理員、保全及警衛人員      8   28,228   28,228       —
211                 小客、貨車駕駛人員     45   30,869   29,512   1,357
191                 服務及銷售工作人員     11   29,769   29,769       —
206            採礦及採石人員(含爆破人員)    206   31,182   30,060   1,122
175                  勞安及衛生技術員     10   30,413   30,413       —
207              礦石及石材處理設備操作員    366   32,229   30,466   1,763
60             採礦及採石人員(含爆破人員)    206    31182    30060    1122
40                 會計助理、簿記、出納    139    31972    30154    1818
202                 產業用機器維修人員     21   34,683   31,319   3,364
182                        總務     38   31,724   31,601     123
203                  電力機械裝修人員      8   32,418   31,794     624
61               礦石及石材處理設備操作員    376    33583    31074    2509
196            技藝、機械設備操作及組裝人員  1,315   33,408   32,223   1,185
..                        ...    ...      ...      ...     ...
86                    測量師及製圖師      …        …        …       …
90                    人力資源管理師      …        …        …       …
96                      化工技術員      …        …        …       …
99                    環境工程技術員      …        …        …       …
106                      法務人員      …        …        …       …
107                資訊管理及維護技術員      …        …        …       …
112                      總機人員      …        …        …       …
114                    存貨事務人員      …        …        …       …
115               生產及物料規劃事務人員      …        …        …       …
116      運輸事務人員(含稽查、調度、管理、航務)      …        …        …       …
121            建築物管理員、保全及警衛人員      …        …        …       …
122                       救生員      …        …        …       …
129                 產業用機器維修人員      …        …        …       …
132          木材處理、家具木工及有關工作人員      …        …        …       …
134              礦石及石材處理設備操作員      …        …        …       …
135                 鑽井及有關工作人員      …        …        …       …
136                     原油處理工      …        …        …       …
137  化學產品機械操作員(不含藥品、化粧品及照相產品)      …        …        …       …
138                 小客、貨車駕駛人員      …        …        …       …
154          機械工程師(含造船、輪機、鑄造)      …        …        …       …
161       勞安及衛生管理人員(含工業安全管理師)      …        …        …       …
167                     電機技術員      …        …        …       …
172                   環境工程技術員      …        …        …       …
173        焚化爐、水處理及氣(液)體設備操作員      …        …        …       …
179                      法務人員      …        …        …       …
185                      總機人員      …        …        …       …
187                    存貨事務人員      …        …        …       …
192                        廚師      …        …        …       …
214             船舶艙面水手及有關工作人員      …        …        …       …
218               廚房幫工(含速食烹調)      …        …        …       …

[219 rows x 5 columns]

In [42]:
name=input("欲查詢職類別")
df_new[df_new.職類別==name]

欲查詢職類別勞力工

     職類別 受僱員工人數     總薪資   經常性薪資 非經常性薪資
71   勞力工    216   26888   24418   2470
144  勞力工      —       —       —      —
217  勞力工    216  26,888  24,418  2,470